*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
*.dist-info/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec
venv/
.env/
.venv/

.env

